@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5; */
  /* font-weight: 400; */

  color-scheme: light dark;
  /* color: rgba(255, 255, 255, 0.87); */
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* vars */
  --container-w: 1250px;
  --sidebar-w: 180px;
  --sidebar-p: 16px;
  --color-input-border: #333333;
  --color-input-bg: #2b2a33;
  --color-input-border-focus: #d81b60;
  --color-tag-select-bg: #202020;
  --color-tag-highlight-bg: #3f3f3f;
}

body {
  @apply bg-[#242424];
  @apply text-[#dedede];
}

@layer utilities {
  .scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
